<h1> Movie results</h1>

<% for (let i = 0; i < data.Search.length; i++) { %>
        <li><%= data.Search[i].Title %> - <strong><%= data.Search[i].Year %></strong></li>
<% } %>

<!-- 
   data["Search"].forEach(function(movie){
   <li> movie["Title"] - movie["Year"] </li>
})

-->

<a href = "/">Search again</a>