<% include partials/header %>

<h4><%= campground.name %></h4>
    
<img class = "thumbnail" "img-src = "<%= campground.image %>" width= "50%" height="500px">

<p><%= campground.description %></p>

<% include partials/footer %>
