<% include partials/header %>

<h1>I officially love lambo's</h1>
<h2>I am thinking of getting one</h2>
<h2>Here's a pic of the baby</h2>

<img src = "https://crystaldragonclub.files.wordpress.com/2017/07/lamborghini_centenario_1.jpg?w=1038&h=576&crop=1">

<% include partials/footer %>