<% include partials/header %>

<h1>My favorite breed is : <%= breeder %> </h1>

<% if (breeder === "pitbull") {%>
    <p> Good choice, you choose the most loyal breed in the world</p>
<% } else {%>
    <p> I guess other choices are good too </p>
<% } %>

<p>He always got my back, its true love.ejs</p>

<% include partials/footer %>